.card {
  width: 420px;
  height: 384px;
  padding: 30px;

  .title {
    padding: 10px 0 48px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    margin-bottom: 18px;

    .password {
      margin-bottom: 16px;
    }

    .instruction {
      margin-bottom: 48px;
      color: var(--color-light-900);
    }
  }

  .caption {
    margin-bottom: 10px;
    color: var(--color-light-900);
    text-align: center;
  }

  .logInLink {
    display: flex;
    justify-content: center;
    color: var(--color-accent-500);
  }
}
