.large {
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  color: var(--color-dark-900);
}

.h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: var(--color-dark-900);
}

.h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-dark-900);
}

.h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-dark-900);
}

.body-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-dark-900);
}

.body-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-dark-900);
}

.subtitle-1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-dark-900);
}

.subtitle-2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-dark-900);
}

.caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-dark-900);
}

.overline {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--color-dark-900);
}

.link-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-info-500);
  text-decoration: underline;
}

.link-2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-info-500);
  text-decoration: underline;
}
